
#crossword > tr {
    height: 20px;
}
#crossword > tr > td {
    border: 1px solid;
    width: 20px;
    text-align: center;
}
#crossword > tr > td > input {
    width: inherit;
    text-align: center;
}